<!--Header Part -->
<div ng-include="'views/header.html'"></div>


 <div class="container" ng-init="checkScrollPosition();">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="aboutus-heading">
                        <span>About us</span>
                </div>
            </div>
        </div>
 </div>

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="aboutus-subheading">
                <span>What is Pharmerz?</span>
            </div>
            <div class="aboutus-txt-content">
                <p>
                    Pharmerz is an online marketplace focused on pharmaceutical industry. 
                    A platform where all pharmaceutical industry players can connect, transact and collaborate with each other.
                </p>
                <p>
                    It provides access to a wide marketplace and a diverse portfolio of products catering to all your business requirements. 
                    Pharmerz offers a one stop shop solution to manufacturers, importers, exporters, traders, suppliers, distributors, dealers, agencies 
                    and service providers, for meeting and engaging with global business community.
                </p>
            </div>
            <div class="aboutus-subheading">
                <span>Who can join Pharmerz?</span>
            </div>
            <div class="aboutus-txt-content">
                <span>
                    Any pharmaceutical industry B2B player can use this platform for their business needs, who can be:
                </span>
            </div>
            
        </div>
    </div>
</div>

<div id="movetoTop">
    <button id="toTop" ng-click="topmove();" class="toTop-arrow"></button>
</div>

<!-- footer Part -->
<div ng-include="'views/footer.html'"></div>

