<div class="footer-box">
	<div class="container-fluid">
		<div class="footer-background">
			<div class="row">
				<div class="col-xs-10 col-sm-10 col-md-8 col-lg-8 col-xs-offset-1 col-sm-offset-1 col-md-offset-2 col-lg-offset-2">
					<div class="row">

						<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
							<div class="row">
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
									<div class="footer-header">
										<p>GET TO KNOW US</p>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
									<div class="footer-link-a">
										<p><a class href="#" >About us</a></p>
										<p><a class href="#" >What is pharmerz</a></p>
										<p><a class href="#" >Help / Support</a></p>
										<p><a class href="#" >FAQ's</a></p>
										<p><a class href="#" >Contact us</a></p>
									</div>
								</div>
							</div>
						</div>

						<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
							<div class="row">
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
									<div class="footer-header">
										<p>OUR POLICIES</p>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
									<div class="footer-link-a">
										<p><a class href="#" >Privacy Policy</a></p>
										<p><a class href="#" >Term of sales</a></p>
										<p><a class href="#" >Report Abuse & takedown policy</a></p>
									</div>
								</div>
							</div>
						</div>



						<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
							<div class="row">
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
									<div class="footer-header">
										<p class="get-in-touch" style="margin-bottom: 0px;">GET IN TOUCH WITH US</p>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
									<div class="media-images">
										<div class="row">
											<div class="col-xs-2 media-box-fb"><a href="https://www.facebook.com/pharmerzz/?ref=hl" target="_blank"> <img src="image/facebook.png" alt="Facebook"></a></div>
											<div class="col-xs-2 media-box"><a href="https://twitter.com/PharmerzT" target="_blank"> <img src="image/twitter1.png" alt="Twitter"></a></div>
											<div class="col-xs-2 media-box"><a href="https://plus.google.com/110936729209652470123/posts" target="_blank"> <img src="image/google.png" alt="Google"></a></div>
											<div class="col-xs-2 media-box"><a href="https://www.linkedin.com/company/pharmerz" target="_blank"> <img src="image/linked.png" alt="Linked"></a></div>
											<div class="col-xs-2 media-box"><a href="https://www.youtube.com/channel/UCjWRsdL4w343mzeI51ZZ-XQ" target="_blank"> <img src="image/youtube1.png" alt="Youtube1"></a></div>
										</div>
									</div>
								</div>
							</div>


						</div>

						<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
							<div class="stores-box">

								<div class="row">
									<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<div class="footer-header">
											<p>GET THE APP NOW</p>
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<div class="store-images">
											<a href="https://play.google.com/store/apps/details?id=com.pharmerz.pharmerz&hl=en" target="_blank">
												<img src="image/playstore.png" alt="Play Store">
											</a>
										</div>
									</div>
									<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<div class="store-images">
											<a href="https://itunes.apple.com/gb/app/pharmerz/id1064115252?mt=8" target="_blank">
												<img src="image/appstore.png" alt="App Store">
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="sub-footer-box">
	<div class="container-fluid">
		<div class="sub-footer-background">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="sub-footer-content">
						<p>Copyright  ©  srijan digital platforms pvt. ltd. 2016. All rights reserved.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


 <!-- <div class="footer-background1">
	<div class="container">
		<div class="col-md-10 col-md-offset-1">
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
					<div class="playstore-box-footer">
						<span>DOWNLOAD APP FROM - </span> &nbsp; <a href="https://play.google.com/store/apps/details?id=com.pharmerz.pharmerz&hl=en" target="_blank"><img src="image/Android-playstore.png" alt=""></a> <a href="https://itunes.apple.com/gb/app/pharmerz/id1064115252?mt=8" target="_blank"><img src="image/apple-store.png" alt=""></a>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
					<div class="social-icons">
						<span class="social-icons-txt">GET IN TOUCH WITH US - </span> &nbsp; <a href="https://www.facebook.com/pharmerzz/?ref=hl" target="_blank"><img src="image/facebook_32x32_pix.png" alt=""></a>
						<a href="https://twitter.com/PharmerzT" target="_blank"><img src="image/twitter_32x32_pix.png" alt=""></a>
						<a href="https://www.linkedin.com/company/pharmerz" target="_blank"><img src="image/linkedin_32x32_pix.png" alt=""></a>
						<a href="https://www.youtube.com/channel/UCjWRsdL4w343mzeI51ZZ-XQ" target="_blank"><img src="image/you_tube_32x32_pix.png" alt=""></a>
						<a href="https://plus.google.com/110936729209652470123/posts" target="_blank"><img src="image/google_plus_32x32_pix.png" alt=""></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="footer-background">
	<div class="container">
		<br/><br/>
		<div class="col-md-10 col-md-offset-1">
			<div class="row">
				<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"></div>
				<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
					<div class="footer-links">
						<span><b>USEFUL LINKS</b></span>
					</div>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"></div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
					
					<div class="footer-links">
						<a href="#/home"><span>HOME</span></a><br/>
						<a href="#/product"><span>PRODUCT</span></a><br/>
						<a href="#/aboutus"><span>ABOUT US</span></a><br/>
						<a href="#/contactus"><span>CONTACT US</span></a><br/>
					</div>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
					<div class="footer-links">
						<a href="#/privacypolicy"><span>PRIVACY POLICY</span></a><br/>
						<a href="#/termsofsales"><span>TERMS OF SALES</span></a><br/>
						<a href="#/reportabout"><span>REPORT ABOUT & TAKE DOWN POLICY</span></a><br/>
					</div>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"></div>
			</div>
		</div>
		<br/><br/>
	</div>
</div>

<div class="container-fluid copyright-box-background">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="copyright">
                <span>Copyright  ©  srijan digital platforms pvt. ltd. 2016. All rights reserved. </span>
            </div>
        </div>
    </div>
</div>
<br/><br/>

-->
