<!--Header Part -->
<div ng-include="'views/admin-header.html'"></div>

<div class="container-fluid sentquotation-background">
    <div class="row">
        <div class="col-md-9 col-md-offset-3 alldocactivity" ng-init="getUsrDetails();getOrgDetails();">
        	<div class="row">
                <div class="sendenquiry-header">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                         <!--<span class="glyphicon glyphicon-arrow-left" aria-hidden="true" style="color:#727272;"></span> -->
                         <span class="sentquotation-header-txt">Generate Quotation</span>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <!--<span class="sentquotation-header-txt">Quotation No - 12345</span>-->
                    </div>    
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <form class="form-horizontal sentquotation-form" name="Genquotation">
                       <br/>
                        <div>
                            <center>
                                <span class="validation_success2" ng-show="QuotationSendSuccess">{{errorMessage.quotationsendsuccess}}</span>
                            </center>
                        </div>
                    	<div class="form-group">
	                        <label class="col-md-3 control-label sentquotation-lbl">To</label>
	                        <div class="col-md-9">
	                            <span>{{orgName}}</span>
	                        </div>
                        </div>
                        <div class="form-group">
	                        <label class="col-md-3 control-label sentquotation-lbl">Email Id</label>
	                        <div class="col-md-9">
	                            <span>{{SenderOrgEmail}}</span>
	                        </div>
                       </div>
                       <div class="form-group">
                             <label class="col-md-3 control-label sentquotation-lbl">Date</label>
                            <div class="col-md-9">
                              <span>{{showdate | date : 'd MMM y'}}</span>
                            </div>
                        </div>
                        <div class="form-group">
	                         <label class="col-md-3 control-label sentquotation-lbl">
	                           Product Name
	                         </label>
	                        <div class="col-md-9">
	                            <span> 
	                                  {{productName}}
								</span>
	                        </div>
                        </div>
                        <div class="form-group">
	                         <label class="col-md-3 control-label sentquotation-lbl">
	                           Composition
	                         </label>
	                        <div class="col-md-9">
	                            <span> 
	                                  {{composition}}
								</span>
	                        </div>
                        </div>
                        <hr/>
                        <div class="borderless-textbox">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                     <div class="form-group">
                                        <label class="col-md-6 control-label sentquotation-lbl">Rate</label>
                                        <div class="col-md-6">
                                          <input type="text" class="form-control" name="rate" ng-model="rate" placeholder="Rate" required ng-change="calculateamt();">
                                            <span class="validation_error" ng-show="genQuo && Genquotation.rate.$error.required">{{errorMessage.filedrequired}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                    <div class="form-group">
                                        <label class="col-md-6 control-label sentquotation-lbl"> 
                                            UOM
                                            <br/>
                                            <span><small>(Unit of Measurement)</small></span>
                                        </label>
                                        <div class="col-md-6">
                                           <input type="text" class="form-control" name="uom" ng-model="uom" placeholder="UOM" required>
                                          <span class="validation_error" ng-show="genQuo && Genquotation.uom.$error.required">{{errorMessage.filedrequired}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                     <div class="form-group">
                                        <label class="col-md-6 control-label sentquotation-lbl">Incoterms</label>
                                        <div class="col-md-6">
                                            <select class="form-control" name="incorterms" ng-model="incorterms">
                                                <option value="">Select Incorterms</option>
                                                <option value="EXW_EX_WORKS">Exw Ex Works</option>
                                                <option value="FCA_FREE_CARRIER">Fca Free Carrier</option>
                                                <option value="FAS_FREE_ALONGSIDE_SHIP">Fas Free AlongsideShip</option>
                                                <option value="FOB_FREE_ON_BOARD">Fob-Free On Board</option>
                                                <option value="CFR_COST_AND_FREIGHT">Cfr Cost And Fright</option>
                                                <option value="CPT_CARRIGE_PAID_TO">Cpt Carrige PaidTo</option>
                                                <option value="CIF_COST_INSURANCE_PAID_TO">Cif Cost Insurance Paid To</option>
                                                <option value="DAT_DELIVERED_AT_TERMINAL">Dat Deliverd At Terminal</option>
                                                <option value="DAP_DELIVERED_AT_PLACE">Dap Deliverd At Place</option>
                                                <option value="DDP_DELIVERED_DUTY_PAID">Ddp Deliverd Duty Paid</option>
                                            </select>
                                            <!--<span class="validation_error" ng-show="genQuo && Genquotation.incorterms.$error.required">{{errorMessage.filedrequired}}</span>-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                 <div class="form-group">
                                    <label class="col-md-6 control-label sentquotation-lbl">Quantity</label>
                                    <div class="col-md-5">
                                      <input type="text" class="form-control"  name="genquoqty" ng-model="genquoqty" placeholder="QTY" required>
                                        <span class="validation_error" ng-show="genQuo && Genquotation.genquoqty.$error.required">{{errorMessage.filedrequired}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label class="col-md-6 control-label sentquotation-lbl"> 
                                        Amount
                                    </label>
                                    <div class="col-md-5">
                                       <input type="text" class="form-control"  name="amt"  ng-model="amt" placeholder="AMT" required>
                                        <span class="validation_error" ng-show="genQuo && Genquotation.amt.$error.required">{{errorMessage.filedrequired}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr/>
                        <div class="form-group">
	                         <label class="col-md-3 control-label sentquotation-lbl">
	                           Taxes
	                         </label>
	                        <div class="col-md-4">
	                            <select class="form-control" name="tax" ng-model="tax" ng-options="item.id as item.tax for item in taxtinfo"  required>
                                        <option value="">Select Tax</option>
                                 </select>
                                <span class="validation_error" ng-show="genQuo && Genquotation.tax.$error.required">{{errorMessage.filedrequired}}</span>
	                        </div>
                            <div class="col-md-1">
                                <span>Or</span>
                            </div>
                             <div class="col-md-3">
                                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#AddtaxModal"> Add Tax</button>
                            </div>
                        </div>
                      </div>  
                        <div class="form-group">
	                         <label class="col-md-3 control-label sentquotation-lbl">
	                           Packaging
	                         </label>
	                        <div class="col-md-9">
                               <div class="row">
                                   <div class="col-md-4">
                                       <label class="radio-inline">
                                          <input type="radio" name="packaging" ng-model="packaging" value="STANDARD" required > Standard
                                        </label>
                                        <label class="radio-inline">
                                          <input type="radio" name="packaging" ng-model="packaging" value="SPECIAL" required> Special
                                        </label>
                                       <br/>
                                       <span class="validation_error" ng-show="genQuo && Genquotation.packaging.$error.required">{{errorMessage.filedrequired}}</span>
                                   </div>
                                   <div class="col-md-6">
                                       <input type="text" class="form-control"  name="specialpackaging" ng-model="specialpackaging" placeholder="" ng-disabled="packaging != 'SPECIAL'" ng-required="packaging == 'SPECIAL'">
                                       <span class="validation_error" ng-show="genQuo && Genquotation.specialpackaging.$error.required">{{errorMessage.filedrequired}}</span>
                                   </div>
                               </div>
	                        </div>
                        </div>
                        <div class="form-group">
	                         <label class="col-md-3 control-label sentquotation-lbl">
	                           Payments Terms
	                         </label>                        
                        </div>
                        <div class="form-group">
                             <div class="col-md-4">
                                <label class="radio-inline">
                                  <input type="radio" name="paymentterms" ng-model="paymentterms" value="ADVANCE_PAYMENT" required> Advance Payment
                                </label>
                              </div>
                              <div class="col-md-4">
                                <label class="radio-inline">
                                  <input type="radio" name="paymentterms" ng-model="paymentterms" value="DOCUMENT_AGAINST_PAYMENT" required> Document Against Payment
                                </label>
                              </div>
                             <div class="col-md-4">
                                <label class="radio-inline">
                                  <input type="radio" name="paymentterms" ng-model="paymentterms" value="DOCUMENT_AGAINST_ACCEPTANCE" required>  Document Against Acceptance
                                </label>
                             </div>
                        </div>
                        <div class="form-group">
                             <div class="col-md-4">
                                  <label class="radio-inline">
                                  <input type="radio" name="paymentterms" ng-model="paymentterms"  value="LETTER_OF_CREDIT"> Letter of Credit
                                 </label>
                                </div>   
                                 <div class="col-md-2">   
                                     <label class="radio-inline">
                                      <input type="radio" name="paymentterms" ng-model="paymentterms" value="OTHER"> Other
                                     </label>
                                 </div>
                                 <div class="col-md-5">
                                     <textarea class="form-control" rows="3" name="paymentTermsOther" ng-model="paymentTermsOther" ng-disabled="paymentterms != 'OTHER'" ng-required="paymentterms == 'OTHER'"></textarea>
                                     <span class="validation_error" ng-show="genQuo && Genquotation.paymentTermsOther.$error.required">{{errorMessage.filedrequired}}</span>
                                     <span><a href="javascript:void(0);" data-toggle="modal" data-target="#myModal">Tips for good Quotation</a></span>
                                 </div>
                            <br/>
                            <span class="validation_error" ng-show="genQuo && Genquotation.paymentterms.$error.required">{{errorMessage.filedrequired}}</span>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                               <center> <h6><small>Click here to see <a href="https://rbidocs.rbi.org.in/rdocs/notification/PDFs/APDIR100NT0214.pdf" target="_blank">Third Party Payments Terms for Export/Import Transactions</a></small></h6></center>
                            </div>
                        </div>
                        <div class="borderless-textbox">
                         <div class="row">
                             <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                 <div class="form-group">
                                    <label class="col-md-6 control-label sentquotation-lbl">Enter Lead Time </label>
                                    <div class="col-md-5">
                                      <input type="text" class="form-control"  name="leadtime" ng-model="leadtime" placeholder="Enter Lead Time" required>
                                      <span class="validation_error" ng-show="genQuo && Genquotation.leadtime.$error.required">{{errorMessage.filedrequired}}</span>
                                    </div>
                                 </div>
                             </div>
                             <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                  <div class="form-group">
                                    <label class="col-md-6 control-label sentquotation-lbl">Select Freight Type</label>
                                    <div class="col-md-6">
                                        <label class="radio-inline">
                                          <input type="radio" name="frieghttype" ng-model="frieghttype" value="PAID" required> Paid
                                        </label>
                                        <label class="radio-inline">
                                          <input type="radio" name="frieghttype" ng-model="frieghttype" value="TO_PAY" required> To Pay
                                        </label>
                                        <br/>
                                        <span class="validation_error" ng-show="genQuo && Genquotation.frieghttype.$error.required">{{errorMessage.filedrequired}}</span>
                                    </div>
                                 </div>
                             </div>
                         </div>
                         <div class="row">
                             <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                 <div class="form-group">
                                    <label class="col-md-6 control-label sentquotation-lbl">Offer Validity Date</label>
                                    <div class="col-md-5">
                                      <!--<input type="text" class="form-control" name="validitydate" ng-model="validitydate" placeholder="dd/mm/yy" required>-->
                                        <!--<p class="input-group">-->
                                            <!--<input type="text" class="form-control" datepicker-popup="{{'dd MMMM yyyy' | date :'shortDate'}}" ng-model="dt" is-open="opened" min-date="minDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" show-button-bar="false" close-text="Close" />-->
                                            <!--<span class="input-group-btn">-->
                                             <!--<button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>-->
                                            <!--</span>-->
                                        <!--</p>-->

                                        <div class="inner-addon right-addon">
                                            <i class="glyphicon glyphicon-calendar adjs-glyphicon"></i>
                                            <input type="text" class="form-control" datepicker-popup="{{'dd MMMM yyyy' | date :'shortDate'}}" name="validitydate" ng-model="dt"  is-open="opened" min-date="minDate" datepicker-options="dateOptions"  ng-required="true" show-button-bar="false" close-text="Close" ng-click="open($event)" placeholder="Offer Validity Date"/>
                                        </div>
                                        <span class="validation_error" ng-show="genQuo && Genquotation.validitydate.$error.required">{{errorMessage.filedrequired}}</span>
                                    </div>
                                 </div>
                             </div>
                             <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                  <div class="form-group">
                                    <label class="col-md-6 control-label sentquotation-lbl">Shipment by</label>
                                    <div class="col-md-6">
                                        <label class="radio-inline">
                                            <input type="radio" name="shipment" value="SEA" ng-model="genQuoShipmentBy"  required> Sea
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="shipment" value="AIR" ng-model="genQuoShipmentBy"  required> Air
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="shipment" value="OTHER" ng-model="genQuoShipmentBy" required> Other
                                        </label>
                                        <br/>
                                        <span class="validation_error" ng-show="genQuo && Genquotation.shipment.$error.required">{{errorMessage.filedrequired}}</span>
                                    </div>
                                 </div>
                             </div>
                         </div> 
                        </div>
                         <div class="form-group">
                             <label class="col-md-3 control-label sentquotation-lbl">
                              Your Message
                             </label>
                            <div class="col-md-7">
                                <textarea class="form-control" rows="3" name="msg" ng-model="msg"></textarea>
                                <!--<span class="validation_error" ng-show="genQuo && Genquotation.msg.$error.required">{{errorMessage.filedrequired}}</span>-->
                            </div>
                        </div>
                        <div class="form-group" ng-show="sendrequestquotation">
                            <center><!--<i class="fa fa-spinner fa-spin" style="font-size:24px"></i>--><img src="image/loading.gif" height="32" width="32"/>&nbsp;&nbsp;<span class="">{{errorMessage.waitmin}}</span></center>
                        </div>
                        <div class="form-group">
                            <center>
                                <button type="button" class="btn btn-primary" ng-click="sendQuotation(Genquotation);">Send Quotation</button>&nbsp;&nbsp;
                                <button type="button" class="btn btn-primary" ng-click="resetGenratequotationFormData();">Reset</button>
                            </center>
                        </div>
                        <br/>
                    </form>
                    <br/>
                </div>
            </div>

            <!-- Modal -->
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <!-- Modal -->
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                                </div>
                                <div class="modal-body">
                                    <h3>Tips For Good Quotation</h3>
                                    <br/>
                                    <div>&#10146; &nbsp;&nbsp; Prepare Most Competitive Quotation.</div>
                                    <div>&#10146; &nbsp;&nbsp; Consider reasonable margin.</div>
                                    <div>&#10146; &nbsp;&nbsp; Prepare the Quotation in $ or in home currency.</div>
                                    <div>&#10146; &nbsp;&nbsp; Consider incoterms.</div>
                                    <div>&#10146; &nbsp;&nbsp; Provide stable Quotation.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!--Modal -->
            <div class="modal fade" id="AddtaxModal" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="resetTaxFormData();"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title"><center>Add New Tax</center></h4>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal" name="addtaxform">
                                <div class="borderless-textbox">
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <input type="text" class="form-control" name="addtaxname" ng-model="addtaxname" placeholder="Tax Name" required>
                                            <span class="validation_error" ng-show="addtax && addtaxform.addtaxname.$error.required">{{errorMessage.filedrequired}}</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <input type="text" class="form-control" name="addpercent" ng-model="addpercent" placeholder="Percent" pattern="[0-9.]*" required>
                                            <span class="validation_error" ng-show="addtax && addtaxform.addpercent.$error.required">{{errorMessage.filedrequired}}</span>
                                            <span class="validation_error" ng-show="addtax && addtaxform.addpercent.$error.pattern">{{errorMessage.percentInvalid}}</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <textarea class="form-control" rows="3" placeholder="Description" name="adddescription" ng-model="adddescription"></textarea>
                                            <!--<span class="validation_error" ng-show="addtax && addtaxform.adddescription.$error.required">{{errorMessage.filedrequired}}</span>-->
                                        </div>
                                    </div>
                                    <br/>
                                    <div class="form-group" ng-show="sendrequest">
                                        <center><!--<i class="fa fa-spinner fa-spin" style="font-size:24px"></i>--><img src="image/loading.gif" height="32" width="32"/>&nbsp;&nbsp;<span class="">{{errorMessage.waitmin}}</span></center>
                                    </div>
                                    <div class="form-group">
                                        <center>
                                            <button type="button" class="btn btn-default" ng-click="addtaxes(addtaxform);">Save</button>
                                        </center>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->

        </div>
    </div>
</div>        