<!--Header Part -->
<div ng-include="'views/admin-header.html'"></div>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-9 col-md-offset-3 alldocactivity" ng-init="getUsrDetails();getOrgDetails();">
			<loading></loading>
			<div class="row" ng-init="LoadPrurchseorder()">
				<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
					<h4>Purchase Order</h4>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 BtnTab">
					<div class="btn-group btn-group-adjs" role="group" aria-label="...">
						<button type="button" class="btn btn-default btn-xs" ng-click="sentPO =true; receivedPO = false" ng-class="{ active : sentPO}">SENT</button>
						<button type="button" class="btn btn-default btn-xs" ng-click="receivedPO = true; sentPO = false" ng-class="{ active: receivedPO}">RECEIVED</button>
					</div>
				</div>
				<!--<div>{{message}}</div>-->
			</div>
			<div ng-show="receivedPO" >
				<div class="table-responsive">
					<table class="table table-striped table-bordered table-hover" datatable="ng" dt-options="vm.dtOptionsReceivedPo">
					<thead>
					<tr>
						<th>Sr.No</th>
						<th style="display:none !important;">ID</th>
						<th>Company Name</th>
						<th style="width:265px;">Product Name</th>
						<th style="width:265px;">Category Name</th>
						<th>Location</th>
						<th>Date</th>
					</tr>
					</thead>
					<tbody>
					<tr ng-repeat="item in PoReceivedtbldata" ng-cloak style="cursor: pointer; pointer-events: all;">
						<td>{{$index + 1}}</td>
						<td style="display:none !important;">{{item.id}}</td>
						<td>{{item.senderOrganization.organization}}</td>
						<td>{{item.product.product | limitTo : 30}} {{item.product.product.length < 30 ? '' : '...'}}</td>
						<td>{{item.category.category}}</td>
						<td>{{item.location.city +' '+ item.location.region}}</td>
						<td>{{item.created | date :'d MMM y'}}</td>
					</tr>
					</tbody>
				</table>
				</div>
			 </div> 
			 <div ng-show="sentPO">
				 <div class="table-responsive">
			 	    <table class="table table-striped table-bordered table-hover" datatable="ng" dt-options="vm.dtOptionsSentPo">
					<thead>
					<tr>
						<th>Sr.No</th>
						<th style="display:none !important;">ID</th>
						<th>Company Name</th>
						<th style="width:265px;">Product Name</th>
						<th style="width:265px;">Category Name</th>
						<th>Location</th>
						<th>Date</th>
					</tr>
					</thead>
					<tbody>
					<tr ng-repeat="item in PoSenttbldata" ng-cloak style="cursor: pointer; pointer-events: all;">
						<td>{{$index + 1}}</td>
						<td style="display:none !important;">{{item.id}}</td>
						<td>{{item.receiverOrganization.organization}}</td>
						<td>{{item.product.product | limitTo : 30}} {{item.product.product.length < 30 ? '' : '...'}}</td>
						<td>{{item.category.category}}</td>
						<td>{{item.location.city +' '+ item.location.region}}</td>
						<td>{{item.created | date :'d MMM y'}}</td>
					</tr>
					</tbody>
				</table>
				 </div>
			 </div>
		</div>
	</div>
</div>