<!--Header Part -->
<div ng-include="'views/header.html'"></div>


<div class="container" ng-init="checkScrollPosition();">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        	<div class="privacy-heading">
                <span>
                    Report about And Take Down Policy 
                </span>
            </div>
            <div class="bottomborder-gery"></div>
            <br/>
            <div class="privacy-blue-txt">
                <span>Last updated on October 29, 2015</span>
            </div>
            <div class="privacy-txt">
                <p>
                	Since Pharmerz is an online market place and an intermediary as defined by applicable law, Pharmerz is not obliged to monitor or control the Products being sold on www.pharmerz.com ("Website") or monitor or control any other content on the Website. However, Pharmerz at its discretion and in accordance with applicable law may choose to monitor any Products or other content and may remove any such content from the Website if Pharmerz determines in its sole discretion that such content is in violation of Pharmerz`s policies or any applicable law.
                </p>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="subheader-box">
                        <div class="blue-number-box">
                            <span>1.</span>
                        </div>
                       <div class="privacy-subheading">
                           <span>Report of Violations of Pharmerz Policy or Law</span>
                       </div>
                    </div>
                    <div  class="privacy-txt">
                       <br/>
                    	<div>
                    		<p>
                    			If you believe that there is any content available on the Website which is contrary to Pharmerz`s policies or applicable law ("Objectionable Content"), then please notify to the Pharmerz Grievance Officer at the email id provided in Pharmerz Privacy Policy ("Objectionable Content Notice"). When you send such Objectionable Content Notice, please ensure that your notification contains the following details:
                    		</p>
                    	</div>
                        <br/>
                        <div class="row">
                            <div class="col-md-9 col-md-offset-1">
                                1.	Your name, email id, phone number and postal address<br/>
								2.	The exact nature of the Objectionable Content (such as whether the Objectionable Content is a Product being sold by a Seller on the Website or is a Product review or a Product description)<br/>
								3.	The exact location (including the relevant web page) where the Objectionable Content appears
								4.	Why do you consider the content to be objectionable?<br/>

                            </div>
                        </div>
                        <br/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="subheader-box">
                        <div class="blue-number-box">
                            <span>2.</span>
                        </div>
                       <div class="privacy-subheading">
                           <span>Report Of Violations Of Your Intellectual Property Rights</span>
                       </div>
                    </div>
                    <div  class="privacy-txt">
                       <br/>
                    	<div>
                    		<p>
                    			Pharmerz also respects the intellectual property rights of all entities. If you believe that your intellectual property rights have been violated in any manner, please fill out and submit the Notice of Infringement of Intellectual Property Form ("IP Infringement Notice") provided in the annexure below. Please send the duly filed out IP Infringement Notice via email to anshul@whitecollarz.in. Any incomplete or improperly filled out document may not be considered.
                    		</p>
                    	</div>
                        <br/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="subheader-box">
                        <div class="blue-number-box">
                            <span>3.</span>
                        </div>
                       <div class="privacy-subheading">
                           <span>When You send us an Objectionable Content Notice or and IP Infringement Notice (collectively referred to as "Notice(s)"</span>
                       </div>
                    </div>
                    <div  class="privacy-txt">
                        <br/>
                        <div class="row">
                            <div class="col-md-9 col-md-offset-1">
                              1.	You declare that all statements made by you are true;<br/>
							  2.	You acknowledge and agree that we may share your Notice to third parties including the parties involved in the allegedly objectionable activities / infringing activities, our group companies, our advisors and other third parties;<br/>
							  3.	You agree to indemnify Pharmerz and its group companies against all claims which may arise in connection with such a Notice being made by You.<br/>
                            </div>
                        </div>
                        <br/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="subheader-box">
                        <div class="blue-number-box">
                            <span>4.</span>
                        </div>
                       <div class="privacy-subheading">
                           <span>Once we receive a Notice</span>
                       </div>
                    </div>
                    <div  class="privacy-txt">
                        <br/>
                        <div class="row">
                            <div class="col-md-9 col-md-offset-1">
                             1.	We will evaluate the contents of the Notice<br/>
							 2.	We may take such action as we deem appropriate in keeping with our policies and applicable law which may include, asking further details from you or taking down the content that was the subject matter of Your Notice.<br/><br/>
							
							To report infringement of trademark/copyright/design on www.pharmerz.com .<br/><br/>
							"Click Here" to download the form to provide required information.
                            </div>
                        </div>
                        <br/>
                    </div>
                </div>
            </div>

        </div>
     </div>
</div>

<div id="movetoTop">
    <button id="toTop" ng-click="topmove();" class="toTop-arrow"></button>
</div>

<!-- footer Part -->
<div ng-include="'views/footer.html'"></div>


